body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(59, 59, 59);
    font-size: 70px;
    font-family: cursive;
}

#status-text-field {
    color: green;
    font-family: cursive;
    font-size: 25px;
}

#todo-input {
    color: rgb(59, 59, 59);
    background-color: #fde9d0;
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(59, 59, 59);
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 50px;
}

#todo-list {
    color: rgb(59, 59, 59);
    font-size: 30px;
    font-family: cursive;
    margin: 50px;
}

button {
    color: rgb(59, 59, 59);
    background-color: rgb(255, 186, 101);
    font-size: 25px;
    font-family: cursive;
    border-color: white;
    border-radius: 15px;
    padding: 10px 15px;
    transition: background-color 0.4s ease;
}
button:hover {
    background-color: rgb(219, 157, 80);
    cursor: pointer;
}